.container{
  display: flex;
  justify-content: center;
}
video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App{
  background-color: rgba(235, 148, 247, 0.473);
}
p{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  margin: 20px;
 }
button{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 18px 40px;
  margin: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #d59eef 0%, #c2c6eb 51%, #a8ebdf 100%);
  background-size: 200% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: .5s;
}
button:hover{
  background-position: right center;
}

h1{
  font-size: 32px;
  color: white;
}